#Logo{
    width: 40px;
    margin-bottom: 5px;
}
#toolbar{
    display: inline-block;
}
@media (max-width: 768px){
    #toolbar{
        display: none;
    }
    #lastCard{
        display: none;
    }
    #boxStore{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #logoComponent{
        display: none;
    }
}
@media (max-width: 1024px){
    #toolbar{
        display: none;
    }
}